body{
  background-color:rgb(11 6 34);
  color: black;
}
.App{
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.headers{
  /* background-color: rgb(110, 107, 107); */

  box-shadow:0 6px 8px 0 rgba(0, 0, 0, 0.335);
    transition: 0.3s;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr  1fr 1fr;
  grid-template-areas:

  "dis dis dis dis"
  "clear clear clearOne devide "
  "seven eight nine multiply"
  "four five six plus"
  "three two one minus"
  "zero zero dot total"
  ;
}
.devide,.multiple,.plus,.minus{
  background-color: rgb(110, 107, 107);
}
.headers:hover{
  box-shadow:0 16px 28px 0 rgba(0, 0, 0, 0.52);
}


.multiple{
  cursor: pointer;
  border: 1.7px solid white;
  padding:30px;
  color: white;
  text-align: center;
  border-radius: 6px;
}
.multiple:hover{
  border:1.7px solid black;
  transition: 0.2s;
}
.dis{
  background-color: black;
  overflow:auto;
  color: white;
  border: 1px solid white;
  border-bottom: none;
padding:4px;
  grid-area: dis;
  text-align: right;
}

.clear{
  grid-area: clear;
  background-color: rgb(235, 38, 38);
}
.total{
  grid-area: total;
  background-color: rgb(55, 152, 231);
}
.zero{
  grid-area: zero;
}
@media(max-width:500px){
  .dis{
    padding:0.1px
  }
  .multiple{
    padding:20px;
  }
}